$white: #fff;

$main-background: #F8F8F8;
$swiper-pagination-active: #B5B6BC;
$swiper-pagination-passive: #929292;
$dividers-color: #EAEAEA;
$hover-elements-color: #41F6D7;
$header-shadow-color: #D9FFF5;
$sidebar-shadow-color: #0E185033;

$main-text-color: #1B1C21;
$menu-text-color: #7E7E82 ;
$span-text-color: #FF3E79;
$border-color: #B8FFEC;
